#you-box {
	height: 350px;
	resize: none;
	width: 100%;
}

#category {
	margin: 0px;
}

#start {
	float: right;
	position: relative;
	width: 150px;
	font-weight: bold;
}

#time-limit {
	margin-left: 20px;
}

#logo {
	padding: 5px 20px 0px 20px;
}